ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.spacer {
  flex: 1 1 auto;
}

.active {
  font-weight: bold;
  background-color: aqua;
}
