<mat-card>
  <mat-spinner *ngIf="IsLoading"></mat-spinner>
  <form
    (submit)="OnSignup(SignupForm)"
    *ngIf="!IsLoading"
    class="example-form"
    #SignupForm="ngForm"
  >
    <mat-form-field class="Titre">
      <mat-label>E-Mail</mat-label>
      <input
        matInput
        type="email"
        name="email"
        required
        ngModel
        placeholder="E-Mail"
        #emailInput="ngModel"
      />
      <mat-error *ngIf="emailInput.invalid"
        >Remplir Address Email Svp</mat-error
      >
    </mat-form-field>
    <mat-form-field class="content">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        name="password"
        required
        ngModel
        placeholder="Password"
        #passwordInput="ngModel"
      />
      <mat-error *ngIf="passwordInput.invalid"
        >Remplir Mote de Passe Svp</mat-error
      >
    </mat-form-field>
    <button mat-raised-button *ngIf="!IsLoading" type="submit">Signup</button>
  </form>
</mat-card>
