mat-spinner {
  margin: auto;
  padding: auto;
}
.example-form {
  width: 100%;
}
textarea,
button {
  width: 100%;
}
.Titre,
.content {
  width: 100%;
}
input[type="file"] {
  visibility: hidden;
}
.image-preview {
  height: 5rem;
  margin: 2rem;
}
.image-preview img {
  height: 100%;
  border-radius: 0.5rem;
}
